.divider-main-container
{
    width: fit-content;
    margin: auto;
}

.divider-text
{
    font-size: 32px;
    line-height: 96px;
}

.divider-line
{
    border: 0px;
    border-top: 1px solid #eee;
}

.divider-line-top
{
    margin-top: 64px;
}

.divider-line-bottom
{
    margin-bottom: 64px;
}