.sticky-top-container
{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.60);
    transition: background-color 0.3s ease-out;
    z-index: 100;
}

.top
{
    background-color: rgba(255, 255, 255, 0.40);;
}

.main-menu-clickable
{
    cursor: pointer;
}

.main-menu-clickable.scrolled-on .main-menu-bar-table-item-content-text > span
{
    border-bottom-color: white;
}

.main-menu-bar
{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 90vw;
    height: 54px;
    margin: 0px auto;
    transition: height 0.3s, color 0.3s ease-out;
}

.top .main-menu-bar
{
    color: black;
    height: 84px;
}

.main-menu-bar-logo
{
    height: 100%;
    width: 230px;
    float: left;
    position: relative;
    margin-left: 10px;
    transition: height 0.3s ease-out;
    cursor: pointer;
}

.main-menu-bar-logo img
{
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 100%;
    transform: translate(-50%, -50%);
    transition: height 0.3s, opacity 0.3s ease-out;
}

.main-menu-bar-logo img.hidden
{
    opacity: 0%;
}

.top .main-menu-bar-logo img
{
    height: 54px;
}

.main-menu-bar-table
{
    float: right;
    border-collapse: collapse;
    height: 100%;
}

.main-menu-bar-table-item
{
    padding: 0px;
}

.main-menu-bar-table-item:hover .submenu
{
    visibility: visible;
    opacity: 1;
}

.main-menu-bar-table-item-content
{
    height: 100%;
    display: table;
}

.main-menu-bar-table-item-content-text
{
    padding: 0px 20px;    
    display: table-cell;
    vertical-align: middle;
}

.main-menu-bar-table-item-content-text > span
{
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color 0.3s ease-out;
}

.main-menu-bar-table-item:hover .main-menu-bar-table-item-content-text > span
{
    border-bottom-color: gold;
}

.top .main-menu-bar-table-item:hover .main-menu-bar-table-item-content-text > span
{
    border-bottom-color: black;
}

.submenu
{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 54px;
    background-color: rgb(64, 64, 64);
    transition: visibility 0.3s, top 0.3s, opacity 0.3s ease-out;
    padding: 5px;
}

.top .submenu
{
    top: 76px;
}

.submenu-table
{
    border-collapse: collapse;
}

.submenu-table-item
{
    padding: 0px;
}

.submenu-table-item-content
{
    height: 36px;
    width: 100%;
    display: table;
}

.submenu-table-item-content-text
{
    padding: 0px 20px 0px 10px;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    transition: padding 0.3s ease-out;
}

.submenu-table-item-content-text:hover
{
    padding: 0px 10px 0px 20px;
}