.sticky-top-container
{
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: chartreuse;
}

.main-menu-clickable
{
    cursor: pointer;
    transition: background-color 0.5s linear;
}

.main-menu-clickable:hover
{
    background-color: red;
}

.main-menu-bar
{
    width: 90vw;
    height: 54px;
    margin: 0px auto;
}

.main-menu-bar-logo
{
    height: 100%;
    width: 170px;
    float: left;
    position: relative;
    margin-left: 10px;
}

.main-menu-bar-logo img
{
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu-bar-table
{
    float: right;
    border-collapse: collapse;
    height: 100%;
}

.main-menu-bar-table-item
{
    padding: 0px;
}

.main-menu-bar-table-item:hover .submenu-table {
    visibility: visible;
    opacity: 1;
}

.main-menu-bar-table-item-content
{
    height: 100%;
    display: table;
}

.main-menu-bar-table-item-content-text
{
    padding: 0px 20px;
    display: table-cell;
    vertical-align: middle;
}

.submenu-table
{
    visibility: hidden;
    opacity: 0;
    border-collapse: collapse;
    position: absolute;
    top: 54px;
    background-color: sandybrown;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.submenu-table-item
{
    padding: 0px;
}

.submenu-table-item-content
{
    height: 36px;
    width: 100%;
    display: table;
}

.submenu-table-item-content-text
{
    padding: 0px 20px;
    display: table-cell;
    vertical-align: middle;
}